@import 'https://fonts.googleapis.com/css?family=Arimo';

}
.employees {
  color: black;
  list-style: none;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  text-align: center;
  
  
}
.employees img {
  display: block;
  margin: auto;
  width:200px;
  height:200px;
  border-radius: 100px
<<<<<<< HEAD
  margin:auto;
}
=======
}
>>>>>>> 8c859a142683b458f63306afdb7c628ed85edc9a
