
.employees {
  color: black;
  list-style: none;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  margin:auto;
}
.employees img {
  width:200px;
  height:200px;
  border-radius: 100px
  margin:auto;
}
